<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
        <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            {{ title | default('Important') }}
        </h2>
    </div>
    <div class="govuk-notification-banner__content">
        <p class="govuk-notification-banner__heading">
            {{ content }}
            {% if link_url is defined and link_text is defined %}
                <a class="govuk-notification-banner__link" href="{{ link_url }}">{{ link_text }}</a>.
            {% endif %}
        </p>
    </div>
</div>

{# Usage
{% set title = 'Important' %}
{% set content = 'You have 7 days left to send your application.' %}
{% set link_url = '/application-url' %}
{% set link_text = 'View application' %}

{% include 'partial/gds/notification-banner.twig' with { 
    'title': title,
    'content': content,
    'link_url': link_url,
    'link_text': link_text
} %}
#}