{% if phase is defined and feedback_url is defined and feedback_text is defined %}
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">
                {{ phase }}
            </strong>
            <span class="govuk-phase-banner__text">
                {{ feedback_text | default('This is a new service – your') }} <a class="govuk-link" href="{{ feedback_url }}">feedback</a> will help us to improve it.
            </span>
        </p>
    </div>
{% endif %}

{# Usage
{% set phase = 'Alpha' %}
{% set feedback_url = '/feedback-url' %}
{% set feedback_text = 'This is a new service – your' %}

{% include 'partial/gds/phase-banner.twig' with { 
    'phase': phase,
    'feedback_url': feedback_url,
    'feedback_text': feedback_text
} %}
#}